@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body {
    background: linear-gradient(to top, transparent, rgba(239, 46, 28, .5)), url(/image/img5.webp);
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    min-height: 100vh;
}

.contenedor {
    width: 100%;
    height: 600px;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 30px;
    padding: 30px;
    color: #fff;
}

.contenedor header {
    overflow: hidden;
}

.contenedor header h1 {
    float: left;
}

.contenedor header nav {
    display: flex;
    justify-content: center;
}

.contenedor header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.contenedor header nav ul li {
    margin: 0 30px;
}

.contenedor header nav ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 33px;
    font-size: 14px;
    padding: 5px 10px;
    transition: .5s;
    border-radius: 20px;
}

.contenedor header nav ul li a:hover {
    background-color: #000;
    color: #fff;
}

.contenido {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* O ajusta según la altura de la sección */
}

/* Estilo para la parte izquierda (texto, botones, etc.) */

/* CARRUSEL */
.container_carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50vh;
    background-color: #f0f0f0;
    overflow: hidden;
    margin: 0;
    width: 50%;
    margin-bottom: 100px;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease-in-out; /* Transición suave */
}
.carousel-img.active {
    opacity: 1;
    position: relative;
}

.carousel-img.prev {
    transform: translateX(-100%); /* Imagen anterior se desliza a la izquierda */
}

.carousel-img.next {
    transform: translateX(100%); /* Imagen siguiente se desliza a la derecha */
}
.carousel-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

#prev {
    left: 10px;
}

#next {
  right:10px;
}


.text-content {
    align-items: flex-end;
    width: 50%; /* Ocupa la mitad derecha */
    display: flex;
    flex-direction: column;
    float: right;
    align-items: flex-start;
    padding: 20px;
}

.contenedor .container {

    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .form-content {
    width: 100%;
    max-width: 450px;

    padding: 50px 60px 70px;
    text-align: center;
}

.form-content h1 {
    font-size: 30px;
    margin-bottom: 60px;
    position: relative;
}

.input-field {
    background-color: grey;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 05s;
    overflow: hidden;
}

input {
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 10px 1px;
    color: #333;
}

/* Título del formulario */
h6 {
    font-size: 2.2rem;
    color: #333;
    margin-bottom: 20px;
}



/* Estilos para el formulario */

    
.contact-wrapper {
    background-color: #f0f0f0;
    margin-top: 50px;
    margin-left: 40px;
    padding: 65px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    text-align: center;
    overflow: hidden;
}

.form_contact{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container_text_formulario{
padding: 20px;
}

.container_text_formulario h5 {
    font-size: 2rem;
}


label {
    align-self: flex-start;
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Mensajes de error y éxito */
.error {
    color: red;
    font-size: 12px;
}

.success {
    color: green;
    margin-top: 20px;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: none;
}

/*SECCION CONTACTO FORMULARIO FINAL*/